body{
    background-color: #C5DFF8;
}
.banner{
    background:url(kliik.jpg)no-repeat center;
    background-size:cover;
    height: 400px;
    padding-top: 20%;
    padding-bottom: 20px;
    color: #000000;
}


